body, html, #root, .App {
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.App {
  text-align: center;
}

/* .auth-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

form label {
  display: block;
}

form button {
  margin: 5px;
  border-radius: 3px;
}

form label input, form label textarea, form label select  {
  margin: 5px;
  border-radius: 5px;
}

.App header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logout {
  font-size: 15px;
  font-weight: bolder;
  padding: 2px 8px;
  border-radius: 5px;
  color: rgb(41, 151, 151);
  background-color: white;
  border: 2px solid rgb(41, 151, 151);
}

.top {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.top a {
  margin: 20px;
  border: 2px rgb(49, 199, 199) solid;
  padding: 8px;
  border-radius: 10px;
  font-weight: 500;
  color: rgb(44, 131, 131);
  background-color: rgba(0, 255, 255, 0.11);
}

a {
  text-decoration: none;
}

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.book-list a {
  color: black;
  border: 4px rgb(209, 240, 136) solid;
  border-radius: 10px;
  background-color: rgba(192, 231, 100, 0.192);
  width: 40%;
  height: 10%;
  margin: 10px;
  padding: 5px;
}

.book-div h2, .book-div p {
  margin: 5px;
}

.list-author, .detail h3 {
  font-style: italic;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail h1, .detail h3, .detail p {
  margin: 5px;
}

.book-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.book-info p {
  margin: 5px 40px;
}
