body, html, #root, .App {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.App {
  text-align: center;
}

/* .auth-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

form label {
  display: block;
}

form button {
  margin: 5px;
  border-radius: 3px;
}

form label input, form label textarea, form label select  {
  margin: 5px;
  border-radius: 5px;
}